@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

*{
    box-sizing: border-box;
    background-color: #181818;
    margin: 0%;
    padding: 0%;
}

.titulo{
    margin-top: 15px;
    color: rgb(255, 240, 208);
    font-family: 'Caveat', cursive;
    font-size: 4rem;
    text-align: center;
    font-weight: lighter;
}

.contenedor-principal{
    display: flex;
    align-self: center;
}
